# Database configuration
DB_HOST=<your-database-host>
DB_PORT=<your-database-port>
DB_USER=<your-database-username>
DB_PASSWORD=<your-database-password>
DB_DATABASE=<your-database-name>

# Webflow configuration
WEBFLOW_AUTH=<your-webflow-authorization-token>
WEBFLOW_API_URL=<your-webflow-api-url>

# App configuration
APP_PORT=<your-app-port>
